{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <h2 style="color: #111;">Acerca de FitnessVital</h2>
    <p style="color: #222;">Somos es una empresa que comenzó en 2016 impulsada por amigos y ha ido creciendo cada vez más. Su ideología es que cualquiera puede lograr lo que se proponga, solo se necesita trabajo duro. Hoy en día, la empresa ofrece una amplia variedad de clases con instructores capacitados para ayudar a los alumnos a alcanzar los cambios deseados, ya sean físicos o mentales.</p>

{% endblock contenidoQueCambia %}