{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<h1 style="color: black;"> Registre una nueva Clase!</h1>
    <form action="{% url 'ClaseFormulario' %}" method="post" class="formulario-instructores">{% csrf_token %}

        <div class="custom-input-group">
            <input type="text" id="{{ miFormulario.nombre.id_for_label }}" name="{{ miFormulario.nombre.name }}" placeholder="Nombre de la clase">
        </div>
        <div class="custom-input-group">
            <label for="{{ miFormulario.repeticiones.id_for_label }}">Repeticiones:</label>
            {{ miFormulario.repeticiones }}
        </div>
        
                
        <button type="submit" class="custom-button"> Enviar </button>
        <a href="{% url 'ListaClases' %}" class="custom-button ver-clases">Ver Clases</a>
    </form>


{% endblock contenidoQueCambia %}   