{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <form action="{% url 'EditarInstructor' id %}" method="post" class="formulario-instructores">{% csrf_token %}

        <div class="custom-input-group">
            <label for="{{ miFormulario.nombre.id_for_label }}">Nombre:</label>
            {{ miFormulario.nombre }}
        </div>
        <div class="custom-input-group">
            <label for="{{ miFormulario.apellido.id_for_label }}">Apellido:</label>
            {{ miFormulario.apellido }}
        </div>
        <div class="custom-input-group">
            <label for="{{ miFormulario.email.id_for_label }}">Correo:</label>
            {{ miFormulario.email }}
        </div>
        <div class="custom-input-group">
            <label for="{{ miFormulario.profesion.id_for_label }}">Profesión:</label>
            {{ miFormulario.profesion }}
        </div>
        <button type="submit" class="custom-button"> Actualizar </button>
    </form>
{% endblock contenidoQueCambia %}
