{% extends 'padre.html' %}

{% block contenidoQueCambia %}
 <h1 style="color: black;"> Inscribete como Instructor</h1>
    <form action="{% url 'InstructorFormulario' %}" method="post" class="formulario-instructores">
        {% csrf_token %}
        <div class="custom-input-group">
            <input type="text" id="{{ miFormulario.nombre.id_for_label }}" name="{{ miFormulario.nombre.name }}" placeholder="Nombre">
        </div>
        <div class="custom-input-group">
            <input type="text" id="{{ miFormulario.apellido.id_for_label }}" name="{{ miFormulario.apellido.name }}" placeholder="Apellido">
        </div>
        <div class="custom-input-group">
            <input type="email" id="{{ miFormulario.email.id_for_label }}" name="{{ miFormulario.email.name }}" placeholder="Correo">
        </div>
        <div class="custom-input-group">
            <input type="text" id="{{ miFormulario.profesion.id_for_label }}" name="{{ miFormulario.profesion.name }}" placeholder="Profesión">
        </div>
        <button type="submit" class="custom-button"> Enviar </button>
    </form>

    <form action="{% url 'ListaInstructores' %}" method="get" class="formulario-instructores">
        <button type="submit" class="custom-button ver-instructores"> Ver Instructores Existentes </button>
    </form>
    
{% endblock contenidoQueCambia %}
